@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat";
  font-size: 10px;
}

h1 {
  font-weight:400
}

h2 {

  font-weight: 300;
}

h3 {
  display: none;
}

.logo {
	width: 250px;

}

.header {
  background-color: #ffffff;
  text-align: center;
  padding-bottom: 20px;
  font-size: 20px;
  border-style: solid;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-color: rgb(38, 143, 85);
  box-shadow: 5px 5px rgb(171, 253, 171);

}

body {
  background-image: white
}
/* Container for flexboxes */
.row {
  padding: 50px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
  margin-right: 50px;
  background: transparent;
  background-image: linear-gradient(180deg, #dcffb8 0, #c7ffba 16.67%, #b1ffba 33.33%, #9df2b9 50%, #8be4b7 66.67%, #7cd7b5 83.33%, #70ccb4 100%);
  z-index: 1;
  text-align: center;

}
 

.row2 {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
  margin-left: 50px;
  margin-bottom: 40px;
  background: transparent;
  background-image: linear-gradient(180deg, #dcffb8 0, #c7ffba 16.67%, #b1ffba 33.33%, #9df2b9 50%, #8be4b7 66.67%, #7cd7b5 83.33%, #70ccb4 100%);
  z-index: 1;
  text-align: center;
}

/* Create 2 equal columns that sits next to each other */
.column {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

section {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  margin: 0 15px;
  max-width: 500px;
  background-color: rgb(255, 255, 255);
  color:rgb(38, 143, 85);
  border-radius: 20px;
  border: 2px solid;
  padding: 40px;
  box-shadow: 5px 5px rgb(171, 253, 171);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container p {
  font-size: 3rem;
  font-weight: 300;
  line-height: 3rem;
  text-align: justify;
}

button {
  margin-top: 80px;
  width: fit-content;
  padding: 1rem;
  font-size: 2rem;
  background-color: rgb(38, 143, 85);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  align-self: flex-end;
}


#canvas {
  position: relative; 
  height: 600px;
  width: 800px;
  max-width: 100%;
  border: 2px solid rgb(38, 143, 85);
  border-radius: 20px;
  margin-bottom: 50px;
  margin-right: 20px;
  box-sizing: border-box;
  box-shadow: 5px 5px rgb(171, 253, 171);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.arrow{
  position: relative; 
  z-index: 1;
  width: 50px;
  height: 50px;
  padding: 5px;
  box-sizing: border-box;
}

.image{
  width: 35px;
  height: 35px;
}

.arrow:hover{
  background-color:rgb(116, 115, 115)
}

.badge {
  padding: 50 px; 

}


/* Style the footer */
.footer {
    color: rgb(255, 255, 255);
    background-color:rgb(38, 143, 85);
    padding: 10px;
    font-size: 20px;
    text-align: center;
  }

  @media (max-width: 600px) {
    .row {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }