/**
 * This is the main CSS entry for your application.
 */

 /**
 * This is the main CSS entry for your application.
 */

/* ================================= 
  Base Element Styles
==================================== */


@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat";
  font-size: 10px;
}

.logo {
	width: 300px;
}

/* Style the header */
.header {
  background-color: #ffffff;
  padding: 0px;
  text-align: center;
  font-size: 35px;
  border-style: dashed;
  border-top-color: ghostwhite;
  border-top-width: 0px;
  border-left-color: ghostwhite;
  border-left-width: 0px;
  border-right-color: ghostwhite;
  border-right-width: 0px;
  border-bottom-color:rgb(69, 150, 105);
}

body {
  background-color: rgb(255, 255, 255);
}
/* Container for flexboxes */
.row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* Create three equal columns that sits next to each other */
.column {
  padding: 10px;
}

section {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  position: absolute;
  top: 50px;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

.container {
  margin: 0 15px;
  max-width: 500px;
  background-color: rgb(255, 255, 255);
  color:rgb(38, 143, 85);
  border-radius: 20px;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 5px;
  display: flex;
  flex-direction: column;
}

.container p {
  font-size: 2rem;
  font-weight: 300;
  line-height: 3rem;
  text-align: justify;
}
button {
  margin-top: 40px;
  width: fit-content;
  padding: 1rem;
  font-size: 2rem;
  background-color: rgb(38, 143, 85);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  align-self:flex-end
}


h1 {
  display: none;
}

h2 {
  display: none;
}

#canvas {
  position: relative; 
  height: 600px;
  width: 800px;
  max-width: 100%;
  border: dashed rgb(38, 143, 85);
  margin: auto;
  margin-bottom: 60px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.arrow{
  position: relative; 
  z-index: 1;
  width: 50px;
  height: 50px;
  padding: 5px;
  box-sizing: border-box;
}

.image{
  width: 35px;
  height: 35px;
}

.arrow:hover{
  background-color:rgb(116, 115, 115)
}

/* Style the footer */
.footer {
    color: rgb(255, 255, 255);
    background-color:rgb(38, 143, 85);
    padding: 10px;
    font-size: 20px;
    text-align: center;
  }

  @media (max-width: 600px) {
    .row {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }